<p id="notice"><%= notice %></p>

<p>
  <strong>From airport:</strong>
  <%= @flight.origin %>
</p>

<p>
  <strong>To airport:</strong>
  <%= @flight.destination %>
</p>

<p>
  <strong>Depart time:</strong>
  <%= @flight.depart_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @flight.duration %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
